header {
    position: absolute;
    min-width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;

    .navbar-controls {
        flex: 1 1 100%;
        z-index: 15;
        background: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        &__toggle {
            display: block;
            height: 11px;
            width: 24px;
            background: url('../images/icon-hamburger.svg') 0 0 no-repeat;
            background-size: cover;
            @include transition-ease;
        }
    }

    .nav-container {
        position: absolute;
        transform: translateY(105vh);
        opacity: 0;
        z-index: 14;
        width: 100%;
        height: 100vh;
        background: rgba($primary--dk-blue, $alpha: .5);
        margin-top: 59px;
        transition: 
            opacity .5s,
            transform .2s,
        ;

        
        .nav {
            position: relative;
            background: $white;
            margin: 1rem;
            border-radius: .25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            transform: translateY(-205vh);
            transition: all .5s ease-in-out;
            
            &__item {
                font-weight: weight(medium);
                margin: .5rem;

                &__link {
                    padding: .25rem;
                    border-bottom: 3px solid transparent;
                    @include transition-ease;

                    &:hover {
                        border-bottom: 3px solid $primary--lime-green;
                    }
                }

                &:last-child {
                    display: none;
                }
            }
        }

    }

    &.show {
        .navbar-controls {
            &__toggle {
                height: 18px;
                width: 19px;
                background: url('../images/icon-close.svg') 0 0 no-repeat;
            }
        }

        .nav-container {
            opacity: 1;
            transform: translateY(0);

            .nav {
                transform: translateX(0);
            }
        }
    }
}

@include media-lg {
    header {
        background: $white;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 5rem;

        .navbar-controls {
            flex: 1;
            padding: 0;
            background: none;

            &__toggle {
                display: none;
            }
        }

        .nav-container {
            flex: 2;
            background: none;
            position: relative;
            transform: translateY(0);
            opacity: 1;
            width: fit-content;
            height: unset;
            margin: 0;

            .nav {
                transform: translateY(0);
                flex-direction: row;
                padding: 0;
                margin: 0;
                align-items: center;
                justify-content: center;

                &__item {
                    flex: 1;
                    min-width: 75px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;

                    &__link {
                        padding: 0;
                        width: 75px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: weight(light);
                        border-bottom: none;
                        @include transition-ease;

                        &::after {
                            content: '';
                            margin-top: 1.83rem;
                            position: absolute;
                            top: 5rem;
                            display: block;
                            height: 5px;
                            min-width: 75px;
                            top: 1.5rem;
                            background: none;
                            @include transition-ease;
                        }
                        
                        &:hover {
                            font-weight: weight(medium);
                            border-bottom: none;
                            
                            &::after {
                                content: '';
                                background: linear-gradient(to right, $primary--lime-green, $primary--bright-cyan);
                            }
                        }
                    }

                    
                    &:last-child {
                        flex: 5;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}


