header {
    position: sticky;
    top: 0;

    .navbar-controls {
        width: 100%;
        background: $white;
        padding: 2rem;

        &__toggle {
            display: block;
            height: 300px;
            width: 300px;
            background: red;
        }
    }
}